* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-size: 1rem;
  line-height: 1.6;
}

html[lang="en"] body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;
}

main {
  align-self: flex-start;
  width: 550px;
}

input,
select {
  font-size: 100%;
}

ol {
  li {
    list-style-position: inside;
  }
}

:focus {
  outline: 0;
  box-shadow: 0 0 0 6px rgb(50, 178, 201);
}
