.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

  &:focus + .state::before {
    box-shadow: 0 0 0 6px rgb(50, 178, 201);
  }
}

.state {
  position: relative;
  display: block;
  height: 42px;

  &::before {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 38px;
    height: 38px;
    content: "";
    background: #fff;
    border-radius: 50%;
    transition: .3s left ease-out;
  }
}

.wrap {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 80px;
  background: #444;
  border-radius: 20px;
  transition: .3s background-color ease-out;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, .2);

  &[data-checked="true"] {
    background-color: #48c59b;

    .state::before {
      left: calc(100% - 40px);
    }
  }
}
